#container {
    display: flex;
    justify-content: center;
}

#container td {
    border: 1px solid rgb(121, 121, 121);
    padding: 15px;
}

#container table {
    border-collapse: collapse;
    margin: 0 20px;
}

#button-div {
    display: flex;
    justify-content: space-evenly;
    margin: 18px 0;
}